@import url(./styles/carrossel.css);
@import url(./styles/header.css);
@import url(./styles/facebook.css);
@import url(./styles/footer.css);
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url(./styles/quit.css);
@import url(./styles/sidebar.css);

/* reset.css */
/* Um reset básico para normalizar estilos em todos os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: linear-gradient(180deg, rgba(44, 151, 217, 1) 0%, rgba(21, 73, 140, 1) 100%);
}

body {
    cursor: url('./assets/provisório/Arrow.png'), auto;
}

a {
    cursor: url('./assets/provisório/Hand.png'), auto;
}

/* style.css */
/* Container principal */

.container_precos {
    display: flex;
    justify-content: center;
}

.container_kks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    position: relative;
    width: 80%;
}

.box {
    position: relative;
    padding: 10px;
    text-align: center;
    width: calc(25% - 20px);
}

.box img {
    width: 100%;
    height: auto;
    background-color: transparent;
}

/* Estilo para o botão */
button {
    --button_radius: 0.75em;
    --button_color: #BDD472;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-top: auto;
    display: block;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.whats {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    background-color: transparent;
}

.text {
    background-color: #f4f4f4;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-whats {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.container_horario {
    display: flex;
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente */
    align-items: center;
    /* Centraliza o conteúdo verticalmente */
    padding: 10px;
    /* Reduz o espaçamento interno */
    margin: 20px auto;
    margin-bottom: 0px;
    /* Centraliza a div e adiciona espaçamento acima e abaixo */
    border-radius: 16px;
    /* Borda levemente arredondada */
    background-color: #f4f4f4;
    /* Cor de fundo */
    border: 1px solid #ccc;
    /* Borda */
    width: auto;
    /* Permite que a largura seja ajustada automaticamente ao conteúdo */
    min-width: 300px;
    /* Define uma largura mínima para evitar que a div seja muito estreita */
    max-width: 600px;
    /* Define uma largura máxima para evitar que a div se expanda muito */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Adiciona uma sombra suave */
    text-align: center;
    /* Centraliza o texto dentro da div */
}

.quit-mobile {
    display: none;
}

.container-quit {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.container_grupo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1em;
}

/* Estilo do link para ocupar a área da imagem */
.link_grupo {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

.img_grupo_desktop {
    width: 70%;
    
}

.img_pag_mobile{
    width: 80%;
}

/* Estilo de arredondamento para a imagem */
#desktop img,
.img_grupo_mobile {
    border-radius: 20px;
}

#mobile {
    display: none;
}

.container_pag {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.img_pag_desk{
    width: 75%;
}

.referencias {
    margin-bottom: 12px;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        row-gap: 30px;
        column-gap: 10px;
    }

    .container_kks {
        padding-top: 0px;
        width: 100%;
    }

    .container_horario {
        min-width: 200px;
        width: 90%;
    }

    .text {
        font-size: 14px;
    }

    .box {
        width: calc(50% - 10px);
    }

    .banner {
        width: 90%;
    }

    button {
        width: calc(80% - 20px);
        max-width: 28vw;
        font-size: 14px;
        bottom: -25px;
    }

    .whats {
        right: 20px;
    }

    .img-whats {
        width: 30px;
        height: 30px;
    }

    .quit-mobile {
        display: block;
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .quit-desktop {
        display: none;
    }

    #desktop {
        display: none;
    }

    .img_grupo_mobile {
        border-radius: 20px;
    }

    .grupo_mobile {
        display: flex;
        justify-content: center;
        max-width: 90%;
    }

    #mobile {
        display: block;
        max-width: 100%;
        height: auto;
    }


    
}