@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(44, 151, 217, 1) 0%, rgba(21, 73, 140, 1) 100%);
    padding-top: 24px;
    color: white;
}

.link_portfolio{
    display: flex;
    justify-content: center;
    background: #15498c;
}

container_footer{
    justify-content: center;
    padding: 90px;
}



.footer_text{
    color: #05F0E3;
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.footer_contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    
}


@media (max-width: 600px){
   .img_footer{
    object-fit: fill;
   }
    


}