header {
    background: linear-gradient(180deg, rgba(44, 151, 217, 1) 0%, rgba(21, 73, 140, 1) 100%);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    
}

.header-img {
    width: 15em;
}



@media (min-width: 600px) {
    .header-img {
        max-width: 1200px;
    }
}