header {
    background: linear-gradient(180deg, rgba(44, 151, 217, 1) 0%, rgba(21, 73, 140, 1) 100%);
    /* Cor de fundo lilás */
    color: #fff;
    /* Cor do texto */
    padding: 10px 20px;
    /* Espaçamento interno */
    
}

.header-img {
    width: 15em;
    /* Largura máxima do conteúdo do header */
    margin: 0 auto;
    /* Centraliza o conteúdo horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    }

.header-content h1 {
    font-size: 1.5rem;
}

@media (min-width: 900px){
    .header-img {
            max-width: 1200px;
    }
}